.control {
  width: 500px;
  height: 630px;
  border: 1px solid black;
  margin: auto;
  background:#e8c179;
}

p {
  font-size: 25px;
  text-align: center;
}
.i {
  font-style: italic;
  font-size: 15px;
  line-height: 0.5;
}
.t {
  text-decoration: underline;
}
#i {
  font-size: small;
}
#t {
  text-decoration: underline;
}
