.row {
  color: white;
  background-color: cadetblue;
}

.col-1 {
  border: 1px solid white;
  text-align: center;
}

.col-3 {
  border: 1px solid white;
  text-align: center;
}

.col-8 {
  border: 1px solid white;
  text-align: center;
}

.col-4 {
  border: 1px solid white;
  text-align: center;
}
.col-6 {
  border: 1px solid white;
  text-align: center;
}

.col-12 {
  border: 1px solid white;
  text-align: center;
}
