.row {
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.col-1 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}

.col-3 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}

.col-8 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}

.col-4 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}
.col-6 {
  padding-bottom: 5px;
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}

.col-12 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}
