.contenr {
  background-color: #575555;
  /* display: flex; */
}

.contenr h1{
  text-align: center;
  color: #ffff;
}

.contenr p{
  color: #ffff;
  padding-left: 10px;
}

.contenr .text{
  display: flex;
  width: 1350px;
  height: 200px;
  margin: 0 auto;
  background-color: yellow;
}

.contenr .text .box{
  width: 100px;
  height: 100px;
  background-color: chocolate;
  border: 1px solid black;
  margin-left: 5px;
  text-align: center;
}

