.row {
  border: 1px solid black;
  color: white;
}

.col-1 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}

.col-3 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
  padding-top: 15px;
}

.col-12 {
  border: 1px solid white;
  text-align: center;
  background-color: cadetblue;
}
