.container > p {
  text-align: center;
  color: green;
}

.col-1 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}
.col-2 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}
.col-3 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}
.col-4 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}
.col-6 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.col-12 {
  background-color: green;
  border: 1px solid white;
  text-align: center;
  color: white;
}
